---
layout: default
active_nav: research
title: Research
---
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Research
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">About</a>
      </li>
      <li class="breadcrumb-item active">Research</li>
    </ol>

    <!-- Intro Content -->
    <p>See also: <a itemprop="sameAs" content="https://orcid.org/0000-0002-5076-7096"
        href="https://orcid.org/0000-0002-5076-7096" target="orcid.widget" rel="me noopener noreferrer"
        style="vertical-align:top;">
        <img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:0.2em;"
          alt=" ORCID iD icon">ORCID</a>,
      <a href="https://inspirehep.net/authors/1054778"><img src="images/inspire.jpg" width=20px> INSPIRE</a>,
      <span id="badgeCont218">
        <script type="text/javascript"
          src="https://publons.com/mashlets?el=badgeCont218&rid=AAA-5414-2020&size=small"></script>
      </span><a href="https://www.webofscience.com/wos/author/rid/AAA-5414-2020"> Web of Science</a>,
      <a href="https://arxiv.org/a/duarte_j_1.html"><img src="images/arxiv_logo.svg" width=22px> arXiv</a>,
      <a href="https://scholar.google.com/citations?user=GTtW9H0AAAAJ"><img src="images/google_scholar_logo.svg"
          width=20px> Google Scholar</a><br><br>

    {% assign collapse_after = 10 %}
    {% assign collapse_at = collapse_after | plus: 1 %}
    {% for paper in site.data.papers %}
    {% if forloop.index == collapse_at %}
    <div class="text-center my-4">
      <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#olderResearch"
        aria-expanded="false" aria-controls="olderResearch" data-collapse-toggle-label="#olderResearch"
        data-collapsed-label="Show older research" data-expanded-label="Show fewer research items">
        Show older research
      </button>
    </div>

    <div class="collapse" id="olderResearch">
    {% endif %}
    <div class="row">
      <div class="col-lg-6">
        {% if paper.image %}
        <img class="img-fluid rounded mb-4" src="images/{{ paper.image }}" alt=""{% if paper.image_width %} width="{{ paper.image_width }}"{% endif %}>
        {% else %}
        {{ paper.embed }}
        {% endif %}
      </div>
      <div class="col-lg-6">
        <h2>{{ paper.title }}</h2>
        <p>{{ paper.abstract }}</p>
        <p>
          {%- for link in paper.links %}
          {%- unless forloop.first %}<br>{% endunless %}
          {{ link.label }}: <a href="{{ link.url }}">{{ link.text }}</a>
          {%- endfor %}
        </p>
      </div>
    </div>
    {% endfor %}
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
